/* Home.css */
.Home {
  text-align: center;
  margin:10px;
}

.Home-header {
  background-color: #282c34;
  color: white;
  padding: 20px;
  font-size: 20px !important;
  padding-bottom: 20px;
  position: relative;
}

/* .Home-header h1,
.Home-header p {
  margin: 0;
  padding: 10px;
  font-size: 16px !important;
} */

/* 
.Home-header h1 {
  background-color: #ffcccc;
}

.Home-header .para-1 {
  background-color: #ccffcc; 
}

.Home-header .para-2 {
  background-color: #ccccff; 
}

.Home-header .para-3 {
  background-color: #ffffcc; 
}

.Home-header .para-4 {
  background-color: #ffccff; 
} */


.video-container video {
  max-height: 800px;
}





/* Responsive video and cards */
@media (max-width: 768px) {
  .video-container video {
    max-height: 200px;
  }
}

@media only screen and (max-device-width: 812px) { /* Adjust width as needed */
  .video-container video {
    width: 100%; /* Adjust as necessary */
    height: auto; /* Adjust as necessary */
  }
}


.wrapper {
  overflow-x: auto; /* Enable horizontal scrolling if the list exceeds container width */
}

.wrapper ul {
  padding: 0; /* Remove default padding */
  list-style: none; /* Remove bullet points */
  margin: 0; /* Remove default margin */
}

.wrapper li {
  display: inline-block; /* Display list items inline */
  margin-right: 10px; /* Add some spacing between list items */
}

.wrapper img {
  width: 200px; /* Adjust as necessary */
  height: auto; /* Maintain aspect ratio */
}